.navbar {
    background-color: rgb(88, 235, 186);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    border-bottom: 0.5px solid rgb(188, 250, 234);

}

.navbar_menu_links {
    display: flex;
    justify-content: space-around;
    width: 300px;

}

.nav_active_link {
    color: rgba(229, 243, 106, 0.89);
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

.nav_link {
    font-size: 20px;
    text-decoration: none;
    color: aliceblue;
}


.auth_active_link {
    color: rgba(229, 243, 106, 0.89);
    text-decoration: none;
    font-weight: bold;
    margin-left: 20px;
    font-size: 22px;
}

.auth_link {
    margin-left: 20px;
    text-decoration: none;
    font-size: 20px;
    color: aliceblue;
}


.sign_link_containr {
    display: flex;
    width: 150px;
    justify-content: space-between;
}